.course-page{
  height: 1200px;
}

.accordion{
  margin-bottom: 100px;
}

.accordion .item{
  margin-bottom: 10px;
  width: 100%;
}

.accordion .title h2{
  padding: 10px;
  margin: 0px;
  font-size: 18px;
}
.accordion .title{
  background-color: #eee;
  color: #444;
  padding: 10px 15px;
  width: 100%;
  font-size: 15px;
  
  border-radius: 12px;

  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion .title:hover{
  background-color: #ccc;
}

.accordion .content{
  font-size: 10px;
  padding: 0px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(5, 7, 6);
  height: 0;
  overflow: hidden;
  border-radius: 15px;
}

.accordion .content h2{
  font-size: 15px;
  padding: 0px 15px;
}

.accordion .content.show{
  font-size: 15px;
  height: auto;
  overflow: hidden;
  background: rgba(241, 241, 241, 0.6);
}