.roadMaps-page {
  background-image: url("../ui/backgroundimg6.jpg");
  background-repeat: repeat;
}

.webDeveloper-roadmap {
  background: rgba(255, 255, 255, 0.8);
  margin-left: 270px;
  padding: 20px;
}

.webDeveloper-roadmap .main-title {
  font-size: 30px;
}

.webDeveloper-roadmap .front-end,
.webDeveloper-roadmap .back-end {
  flex-direction: column;
}

.webDeveloper-roadmap .step {
  flex-direction: column;
  align-items: center;
  background: rgba(250, 250, 250, 0.8);
  margin: 20px 10px;
  padding: 20px;
  border-radius: 15px;
}

.webDeveloper-roadmap .title2 {
  font-size: 25px;
  margin-top: 20px;
}

.webDeveloper-roadmap .step1-2 .step {
  width: 50%;
}

.webDeveloper-roadmap .section-1 {
  font-size: 15px;
}

.webDeveloper-roadmap .section-2 {
  margin: 10px;
}

.webDeveloper-roadmap .section-3 .tab {
  margin: 6px;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
}

.webDeveloper-roadmap .section-3 .tab .item1 {
  font-size: 13px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  background: rgb(215, 215, 215);
  border-radius: 10px;
}

.webDeveloper-roadmap .section-3 .tab .item {
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  background: rgb(240, 240, 240);
  border-radius: 10px;
}

.webdeveloper-roadmap-img-1 {
  margin: 20px 10px;
  width: 1180px;
  height: 3345px;
  background-image: url("../ui/frontend01.png");
  background-size: contain;
  border-radius: 10px;
}

.webdeveloper-roadmap-img-2 {
  margin: 20px 10px;
  width: 1180px;
  height: 3345px;
  background-image: url("../ui/backend01.png");
  background-size: contain;
  border-radius: 10px;
}

.webDeveloper-roadmap .credit {
  font-size: 20px;
  margin-top: 100px;
}

.webDeveloper-roadmap .title-description{
  font-size: 15px;
  font-weight: 400;
  padding: 0px 10px 10px 10px;
}